/* You can add global styles to this file, and also import other style files */
.btn.btn-success {
  margin: 10px;
}

.btn.btn-danger {
  margin: 10px;
}

.btn.btn-success {
  margin: 10px;
}

.btn.btn-primary {
  margin: 10px;
}
